body {
  margin: 0;
  
  background: darkgrey;
  color: white;
}

h1 {
  font-size: 10rem;
}

#background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 4rem;
  
  background-image: url('waterfall.jpg');
  background-position: 50% 50%;
}
